:root {
	--accent-color: #a6e3a1;
	--sender-name-color: #fab387;
	--text-color: #cdd6f4;
	--timestamp-color: #7f849c;
	--badge-color: 	#cba6f7;
	
	--corner-radius: 10px;
	--corner-radius-tl: 0px;
	--corner-radius-tr: 0px;
	--corner-radius-bl: 0px;
	--corner-radius-br: 0px;
}

/* Background */
body {
	background-color: transparent!important;
}

/* Chat container */
#root > div > div.Layout-sc-1xcs6mc-0.htmBdw > div > div > section {
	background: rgba(0, 0, 0, 0.8)!important;
	border: 3px var(--accent-color) solid;
	padding: 10px;
	margin: 0px;
	
	border-radius: var(--corner-radius);
	border-top-left-radius: var(--corner-radius-tl);
	border-top-right-radius: var(--corner-radius-tr);
	border-bottom-left-radius: var(--corner-radius-bl);
	border-bottom-right-radius: var(--corner-radius-br);
}

/* Content margin */
#root > div > div.Layout-sc-1xcs6mc-0.htmBdw > div > div > section > div > div.Layout-sc-1xcs6mc-0.InjectLayout-sc-1i43xsx-0.chat-list--default.dvjzkE.font-scale--default {
	position: absolute!important;
	top: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}

/* "Stream Chat" title bar */
#root > div > div.Layout-sc-1xcs6mc-0.htmBdw > div > div > div {
	display: none!important;
}

/* Padding of chat elements */
#root > div > div.Layout-sc-1xcs6mc-0.htmBdw > div > div > section,
.chat-line__message {
	padding: 0px!important;
}

/* Chat input */
#root > div > div.Layout-sc-1xcs6mc-0.htmBdw > div > div > section > div > div.Layout-sc-1xcs6mc-0.bGyiZe.chat-input {
	display: none!important;
}

/* Welcome message */
div.Layout-sc-1xcs6mc-0.chat-line__status > span.CoreText-sc-1txzju1-0 {
	display: none!important;
}

/* Message timestamp */
.chat-line__timestamp {
	color: var(--timestamp-color)!important;
}

/* Message badge */
.chat-line__message-container > div > div > div > span:nth-child(1) > div > button {
	filter: invert(67%) sepia(58%) saturate(571%) hue-rotate(209deg) brightness(101%) contrast(94%);
}
.chat-badge {
	filter: saturate(0);
}

/* Message author */
.chat-author__display-name {
	color: var(--sender-name-color)!important;
}

/* Message text */
.text-fragment {
	color: var(--text-color)!important;
}
